@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    font-family: Century Gothic;
    background-color: #F8B195;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
header{
    max-width: 100%;
}
.navbar{
    width:100%;
    margin-bottom: 15px;
    width: 100%;
}
dl, ol, ul {
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 1rem;
}
ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #343a40;
    border-radius: 20px;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    font-size: 17px;
    padding: 5px 25px;
    border-radius: 20px;
    transition: 0.2s ease;
}
ul li a:hover{
    background-color: #0072b1;
    color:#fff;
    text-decoration: none;
}
.hero-section{
    width: 100%;
}
.intro{
    height: 100%;
    overflow: hidden;
    margin-top: 70px;
    width:100%;
}
.middle{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title{
    color: #0072b1;
    font-size: 3.7rem;
    font-weight: 900;
    cursor: pointer;
    padding-left: 20px;
}
.hidden{
    max-width: 0;
    opacity:0;
    transition: 0.5s ease-in;
}
.title:hover .hidden{
    opacity: 1;
    max-width: 1em;
}
.image-background{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transform: rotate(
27deg
);
    top: 30%;
    left: 40%;
    background-color: #343a40;
    z-index: 1;
    overflow: hidden;
}
img
{
    z-index: 1;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.aboutme{
    color: #0072b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    margin-top:30px;
    width:100%;
}
.aboutme h1{
    color: #0072b1;
    text-align: center;
}
.aboutme p{
    display: inline-block;
    text-align: left;
}
.about-me-image{
    display: flex;
    justify-content: center;
}
p{
    color: rgb(88, 85, 99);
    font-family: "Century Gothic";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0px 20px;
}
.education-section h1{
    text-align: center;
}
.technical-section{
    padding-top: 50px;
    overflow:hidden;
}
.technical{
    text-align: center;
    color:#0072b1;
    width:100%;
}
.technical-section h1{
    color: #0072b1;
    text-align: center;
    margin-top: 20px;
}
.technical p{
    color:#585563;
}
.contact{
    width:100%;
    overflow: hidden;
    height: 120px;
}    
.contact h1{
    color: #0072b1;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social1{
    background-color: #e2e2e2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0 5px 4px rgba(0, 0,0,0.5);
}
.social1 .fa-linkedin-in{
    color: #1a0dab;
    background-color: #e2e2e2;
}
.social1:hover{
    transform: scale(1.15);
}
.social3{
    background-color:#e2e2e2 ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 0 5px 4px rgba(0, 0,0,0.5);
}
.social3 .fa-github{
    color: #000;
    background-color: #e2e2e2;
}
.social3:hover{
    transform: scale(1.15);
}

/*Type Writing Effect*/

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 100%;
    padding-bottom: 120px;
}
.contain p {
  font-size: 55px;
  color: #0072b1;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.contain p span.typed-text {
  font-weight: normal;
  color:#fff;
}
.contain p span.cursor {
  display: inline-block;
  background-color:#000;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.contain p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #000; }
  49% { background-color: #000; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #000; }
}
.typewriter{
    margin-left: 20px;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3px;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 3px;
    list-style: none;
}

body{
    background-color: #F8B195;
}
.skillbar {
    width: 90%;
    background-color: #ddd;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #e2e2e2;
    height: 30px;
    line-height: 10px;
    font-size: 25px;
    background-color: #04AA6D;
    border-radius: 20px;
  }
  .technical p{
      text-align: left;
  }
  
  .cprogramming {width: 90%;} /* Green */
  .mysql {width: 70%;} /* Blue */
  .html {width: 90%; } /* Red */
  .css {width: 80%; } /* Dark Grey */
  .python {width: 70%;} /* Dark Grey */
  .javascript{width: 60%;}
.projects-section{
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}
.projects-section h1{
    color: #0072b1;
    text-align: center;
    font-family: Century Gothic;
    padding-top: 50px;
}
.projects{
    display: flex;
    justify-content: center;
    width: 100%;
}
.projects h1{
    color: #e2e2e2;
    background-color: #343a40;
    text-align: center;
    position: relative;
    top:20px;
    text-decoration: underline;
    padding-top: 10px;
}
.projects p{
    padding-top: 20px;
    text-align: left;
    color: #e2e2e2;
}
.projects-link {
    position: absolute;
    top: 85%;
    left: 44%;
    display: flex;
    justify-content: center;
}
.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e2e2e2 ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0,0,0.5);
}
.project-link .fa-github{
    color: #000;
    background-color: #e2e2e2;
}
.project1{
    position: relative;
    width: 400px;
    height:500px;
    background-color: #343a40;
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
    transition: 0.3s ease;
}
.project1:hover{
    transform: translateY(-10px);
}
.project2{
    position: relative;
    width: 400px;
    height:500px;
    background-color: #343a40;
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
    transition: 0.3s ease;
}
.project2:hover{
    transform: translateY(-10px);
}
.project3{
    position: relative;
    width: 400px;
    height:500px;
    background-color: #343a40;
    margin:20px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
    transition: 0.3s ease;
}
.project3:hover{
    transform: translateY(-10px);
}

.education-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}
.education-section h1{
    color: #0072b1;
    text-align: center;
}
.education-section p {
    text-align: left;
    color: #e2e2e2;
    margin-left: 0;
    margin-right: 0;
}
.education-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #e2e2e2;
}

@media screen and (max-width: 500px){
    .project1,.project2,.project3
    {
        width: 80%;
        margin-left: 45px;
    }
    .about-me-image img{
        width:100%;
        height:300px;
    }
    .contain p{
        font-size: 48px;
        margin-left: 0px;
    }
    .aboutme{
        margin-top: -40px;
        padding-top: 80px;
    }
    .contain{
        height:12rem;
        padding-top: 80px;
    }
    .main{
        overflow-x: hidden;
    }
}

/*timeline*/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    /*background-color: inherit;
    background-color: #343a40;*/
    width: 50%;
    border-radius: 20px;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #343a40;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -25.5%;
  }
  
  /* Place the container to the right */
  .right {
    left: 25.3%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    /*background-color: white;*/
    position: relative;
    border-radius: 20px;
    background-color: #343a40;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 18px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
    .left{
        left:0%;
    }
  }
